@charset "UTF-8";

.loginLivia {
  position: absolute;
	top: 45%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
  height:300px;
}

.registroLivia {
  position: absolute;
	top: 35%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
  height:300px;
}

.botaoRegistra {
  position: relative;
  top: -25.5%;
	left: 49%;
}

.titulo h2 {
	font-size: 80px;
	color: white;
	text-align: center;
  font-family: 'Mate SC', serif;
}

.placeholder {
  color: white;
}

header {
  background-color: #606060;
}
#botoes {
  margin-bottom: 10px;
  margin-left: 10px;

}


body {
  background-color: rgb(190,190,190);
  font-family: 'Montserrat Alternates', sans-serif;

}

.tabela {
  border: 1px solid white;
  border-radius: 10px;
}
barra-perquisa {
  font-weight: bold;
  color: #000000;
}
td img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.collapsible-header h5{
  font-size: 18px;
  margin-left: 20px;

}

.teste li {
  float: left;
}

.waves-effect waves-light btn modal-trigger purple adicionaAlbum {
  float: right;
  float: down;
}

